#tree{
    width: 800px;
    height: 400px;
    background-color: #eee;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
#time{
  height: 50px;
  width: 300px;
  margin: 0 auto;
  margin-top: 80px;

  box-sizing: content-box;
  padding-bottom: 15px;
  border-bottom: 3px solid #000; 
  color: black;

  text-align: center;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 10px;
}
#tree img {
  width: 800px;
    height: 400px;
}